<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.flinty.docsflow.server.core">
    <parameter id="type" value="SERVER"/>
    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.common.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.common.standard"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.standard"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.common.reports"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.reports"/>
        <plugin-dependency plugin-id="com.flinty.docsflow.common.core"/>
    </dependencies>
    <extension point-id="activator">
        <parameter id="class" value="com.flinty.docsflow.server.core.activator.DocsFlowServerCoreActivator"/>
    </extension>
</plugin>